
body{
    font-family: "lato";
    font-weight: 400;
    /* rem value inherits root font-size */
    font-size:$h5;
    line-height: 1.7;
    color: $color-grey-dark;

}

.heading-primary{
    color:$color-white;
    text-transform: uppercase;
    /* Fixes any animation shake. Determines whether or not the 'back' side of a transformed element 
    is visible when facing the viewer. With an identity transform, 
    the front side of an element faces the viewer. */
    backface-visibility: hidden;
    margin-bottom: 5rem;

    @include respond(phone){
        margin-bottom: 7rem;
    }


    &--main{
        display: block;
        font-size: $h1;
        font-weight:400;
        letter-spacing: 1rem;
        /* 'animation:' runs the following three declorations in one declaration
        animation-name: moveInLeft;
        animation-duration: 1.4s;
        animation-timing-function: ease-out; */
        animation: moveInLeft 1.4s ease-out;
    
        /* animation-iteration-count: 3; !repeats animation */
    
        /* animation-delay: time; !delays animation */


        @include respond(phone){
            font-size: $h2;
        }
    }
    
    &--sub{
        display: block;
        font-size: $h5;
        font-weight: 300;
        letter-spacing: 1rem;
        animation: moveInRight 1.4s ease-out;
    
        /* animation-iteration-count: 3; !repeats animation */
    
        /* animation-delay: time; !delays animation */

        @include respond(tab-port){
   
            letter-spacing: .5rem
        }
    }
}

.heading-secondary{
    display: inline-block;
    font-size: $h2;
    font-weight:700;
    text-transform: uppercase;
    transition: transform .2s, text-shadow .2s;
    @include gradientText;

    @include respond(tab-port){
        font-size: $h3;
        pointer-events: none;
        
    }

    @include respond(phone){



    }

    &:hover{
        transform: skew(1deg, 1deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .5);
        cursor: pointer;
    }
}

.heading-tertiary{
    font-size: $h5;
    font-weight: 500;
    text-transform: uppercase;
}

.paragraph{
    font-size: 1.6rem;


    &:not(:last-child){
        margin-bottom: 3rem;
    }

}